{
  "parser": "babel-eslint",
  "extends": [
    "airbnb/base"
  ],
  "plugins": [
    "react",
    "react-native"
  ],
  "rules": {
    "indent": [2, 2],
    "space-before-function-paren": [0],
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 2
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "globals": {}
}
